<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gittersandsittersdatabase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GittersAndSittersDatabase">
        <activity
            android:name=".FollowFeedActivity"
            android:exported="true"/>
        <activity
            android:name=".FollowingActivity"
            android:exported="true"/>
        <activity
            android:name=".AddRemoveEventActivity"
            android:exported="true" />
        <activity
            android:name=".HabitEventActivity"
            android:exported="true" />
        <activity
            android:name=".FollowRequestActivity"
            android:exported="true" />
        <activity
            android:name=".AddRemoveHabitActivity"
            android:exported="true" />
        <activity
            android:name=".HabitActivity"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>